.si-rff-img-admin {
    max-width: 150px;
    max-height: 100px;
}

.si-rff-selSpan::first-letter {
    text-transform: uppercase;
    font-weight: bold;
}

#si-rff-form input[type='file'], input[type='text'] {
    padding: 5px 10px;
}

.si-rff-bt-submit {
    padding: 10px 15px;
}

#infoBt{
    cursor: pointer;
}

#divInfo{
    position: absolute;
    display: none;
    border: 1px solid rgb(1, 100, 87);
    padding: 10px 15px;
    background-color: rgb(187, 255, 246);
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.3);
}

#infoBt:hover #divInfo{
    display: flex;
}